body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    height: auto;
    width: 350px;
}

header {
    height: 50px;
    background-color: dodgerblue;
}

.top-section {
    height: 100px;
}

.bottom-section {
    height: auto;
    border-top: 1px solid dodgerblue;
}

    .bottom-section > div:first-child {
        display: flex;
        border: 1px solid dodgerblue;
        height: 35px;
        margin-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .bottom-section > div:first-child > input {
            outline: none;
            border: none;
            height: 33px;
            width: 85%;
        }

        .bottom-section > div:first-child > button {
            width: 15%;
            height: 33px;
            border: none;
            outline: none;
            background-color: dodgerblue;
            background-image: url('../img/glyphicons-40-notes.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            cursor: pointer;
            margin-left: 1px;
        }

            .bottom-section > div:first-child > button:hover {
                background-color: #1873cc;
            }

    .bottom-section .middle {
        display: flex;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .bottom-section > .middle > button {
        height: 35px;
        outline: none;
        border: none;
        background-color: dodgerblue;
        cursor: pointer;
        font-size: 20px;
    }

        .bottom-section > .middle > button:first-child {
            width: 100px;
        }

        .bottom-section > .middle > button:last-child {
            width: 100px;
            margin-left: auto;
        }

.hvr-grow {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
    }

.bottom-section > div:last-child {
    min-height: 30px;
    height: auto;
    border: 1px solid dodgerblue;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

    .bottom-section > div:last-child > div:first-child {
        background-color: dodgerblue;
        width: 100%;
        height: 30px;
    }

        .bottom-section > div:last-child > div:first-child > button {
            float: right;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            outline: none;
            background-color: dodgerblue;
            border: none;
        }

    .bottom-section > div:last-child > div:last-child {
        height: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 0px;
        width: 318px;
    }

        .bottom-section > div:last-child > div:last-child > div {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            color: #333;
        }

            .bottom-section > div:last-child > div:last-child > div:nth-child(odd) {
                background-color: #d4dce6;
                display: flex;
                width: 318px;
                
            }

            .bottom-section > div:last-child > div:last-child > div:nth-child(even) {
                background-color: #c2c2c2;
                display: flex;
                width: 318px;
            }

            .bottom-section > div:last-child > div:last-child > div > div {
                width: 50%;
                height: 100%;
                word-wrap: break-word;
            }
