body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    height: auto;
    width: 350px;
    color: #000;
    font-family: cursive;
}

header {
    height: 50px;
    background-color: #D64541;
}

.top-section {
    height: 100px;
}

.bottom-section {
    height: auto;
    border-top: 1px solid #D64541;
}

    .bottom-section > div:first-child {
        display: flex;
        border: 1px solid #D64541;
        height: 35px;
        margin-top: 20px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

        .bottom-section > div:first-child > input {
            outline: none;
            border: none;
            height: 33px;
            width: 85%;
        }

        .bottom-section > div:first-child > button {
            width: 15%;
            height: 33px;
            border: none;
            outline: none;
            background-color: #D64541;
            background-image: url('../img/glyphicons-40-notes.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            cursor: pointer;
            margin-left: 1px;
        }

            .bottom-section > div:first-child > button:hover {
                background-color: #1873cc;
            }

    .bottom-section .middle {
        display: flex;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .bottom-section > .middle > button {
        height: 35px;
        outline: none;
        border: none;
        background-color: #D64541;
        cursor: pointer;
        font-size: 20px;
    }

        .bottom-section > .middle > button:first-child {
            width: 100px;
        }

        .bottom-section > .middle > button:last-child {
            width: 100px;
            margin-left: auto;
        }

.hvr-grow {
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    transition-duration: 0.3s;
    transition-property: transform;
}

    .hvr-grow:hover,
    .hvr-grow:focus,
    .hvr-grow:active {
        transform: scale(1.1);
    }

.bottom-section > div:last-child {
    min-height: 30px;
    height: auto;
    border: 1px solid #D64541;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

    .bottom-section > div:last-child > div:first-child {
        background-color: #D64541;
        width: 100%;
        height: 30px;
    }

        .bottom-section > div:last-child > div:first-child > button {
            float: right;
            height: 30px;
            width: 30px;
            border-radius: 100%;
            outline: none;
            background-color: #D64541;
            border: none;
        }

    .bottom-section > div:last-child > div:last-child {
        height: 0px;
        overflow-x: hidden;
        overflow-y: auto;
        margin-top: 0px;
        width: 318px;
    }

        .bottom-section > div:last-child > div:last-child > div {
            padding-top: 5px;
            padding-bottom: 5px;
            padding-left: 5px;
            color: #000;
        }

            .bottom-section > div:last-child > div:last-child > div:nth-child(odd) {
                background-color: #d4dce6;
                display: flex;
                width: 318px;
                
            }

            .bottom-section > div:last-child > div:last-child > div:nth-child(even) {
                background-color: #c2c2c2;
                display: flex;
                width: 318px;
            }

            .bottom-section > div:last-child > div:last-child > div > div {
                width: 50%;
                height: 100%;
                word-wrap: break-word;
            }

.red + .tooltip > .tooltip-inner {background-color: #D91E18;}
.red + .tooltip > .tooltip-arrow { border-bottom-color:#D91E18; }

.green + .tooltip > .tooltip-inner {background-color: #2ecc71;}
.green + .tooltip > .tooltip-arrow { border-bottom-color:#2ecc71; }

.orange + .tooltip > .tooltip-inner {background-color: #e67e22;}
.orange + .tooltip > .tooltip-arrow { border-bottom-color:#e67e22; }

.select2{
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

.select2-container--default .select2-selection--single{
    border-radius: 0px;
    border: 1px solid #D64541;
    outline: none;
    font-family: cursive;
    background-color: #D64541;
}

.select2-container--default .select2-search--dropdown .select2-search__field{
    border: 1px solid #D64541;
    outline: none;
}

.select2-dropdown{
    border-radius: 0px;
    border: 1px solid #D64541;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
    background-color: #D64541;
}

.select2-container{
    font-family: cursive;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder{
    color:black;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
    border-color: black transparent transparent transparent;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
    border-color: transparent transparent black transparent;
}

.select2-container--default .select2-results>.select2-results__options{
    position: relative;
    max-height: 150px;
    overflow: hidden !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
    color:black;
}

.color-change-container{
    float: right;
    padding-right: 5px;
    margin-top: 30px;
}

.color{
    width: 15px;
    height: 15px;
    outline: none;
}

.cg-blue{
    background-color: #2C82C9;
    border: 1px solid #2368a0;
}

.cg-green{
    background-color: #2ecc71;
    border: 1px solid #208e4f;
}

.cg-red{
    background-color: #D64541;;
    border: 1px solid #ab3734;
}

.remove-data{
    width: 15px;
    height: 15px;
    background-color: transparent;
    border:none;
    float: right;
    right: 15px;
    outline:none;
}